#category-visualization-aside {
    background-color: #05a5ff;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#category-visualization-ul-aside{
    list-style: none;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

@media (max-width: 768px){
    #category-visualization-ul-aside{
        display: flex;
        flex-direction: row;
    }
}