<div id="category-visualization-container">
  <app-aside></app-aside>
  <main id="category-visualization-main">
    <app-header></app-header>
    <section id="category-visualization-section-filter-and-create">
      <input type="text" id="category-visualization-section-filter-input" placeholder="Buscar por nombre" 
      (input)="searchCourses($event)">
      <button type="button" class="btn btn-primary btn-category" id="category-visualization-section-create-button">Nueva
        Categoría</button>
    </section>
    <section id="category-visualization-section-cards">
      <h4>ACTIVAS</h4>
      <div id="category-visualization-section-active-cards">
        <app-card *ngFor="let card of activeCourses"
        [title]="card.title"
        [lessonCount]="card.lessonCount"
        [instructor]="card.instructor"
        [instructorDate]="card.instructorDate"
        [editor]="card.editor"
        [editorDate]="card.editorDate"
        ></app-card>
      </div>
  
      <h4>INACTIVAS</h4>
      <div id="category-visualization-section-inactive-cards">
        <app-card *ngFor="let card of inactiveCourses"
        [title]="card.title"
        [lessonCount]="card.lessonCount"
        [instructor]="card.instructor"
        [instructorDate]="card.instructorDate"
        [editor]="card.editor"
        [editorDate]="card.editorDate"
        ></app-card>
      </div>
    </section>
  </main>
  <router-outlet></router-outlet>
</div>